

/* =========================

.insta-link-hidden má opačný význam

========================= */






.insta-glyph {
    /* background-color: #2d343a; */
    /* background-color: rgba(99, 99, 99, 0.3); */
    background-color: var(--dark-blue-bg);
    border: 1px solid #42474e;
    position: fixed;
    right: 0px;
    bottom: 20px;
    /* border-radius: 100px; */
    z-index: 2;
    width: 60px;
    height: 60px;
    /* text-align: center; */
    padding-left: 16px;
    padding-bottom: 14px;
    padding-top: 14px;
    box-shadow:  0 0 0px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 0px 02px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 0px 0px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 0px 0px rgba(0,0,0,0.6);
    /* transition: all 0.3s; */
    opacity: 1;
    cursor: pointer;
    
}


.insta-glyph > img {
    /* transition: all 0.4s; */
    transition: all 0.4s cubic-bezier(1, 0, 0.6, 0.2);
}

.rotate_insta {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    /* transition: all 0.4s; */
    transition: all 0.0.4s cubic-bezier(0.88, 0.06, 0.15, 1.45);

    opacity: 0;

    /* -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out; */
}

.rotate_insta_cross {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 1 !important;
    /* transition: all 0.4s; */
    transition: all 0.4s cubic-bezier(0.08, 1.05, 0.1, 1.05);
}

.insta_cross {
    position: absolute;
    left: 21.5px;
    top: 21px;
    /* width: 29px; */
    /* height: 29px; */
    width: 18px;
    height: 18px;
    opacity: 0;
    /* transition: all 0.3s; */
    /* transition: all 0.4s; */
    transition: all 0.4s cubic-bezier(1, 0, 0.6, 0.2);
}

.insta-glyph-mini {
    /* background-color: var(--dark-blue-bg); */

    background-color: var(--dark-blue-bg);
    border: 1px solid #42474e;
    position: fixed;
    /* border-radius: 100px; */
    z-index: 2;
    width: 44px;
    height: 44px;
    text-align: center;
    padding-top: 8px;
    /* padding-top: 12.5px; */
    padding-bottom: 8px;
    box-shadow:  0 0 0px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 0px 02px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 0px 0px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 0px 0px rgba(0,0,0,0.6);
    transition: all 0.4s cubic-bezier(1, -0.01, 1, 0.21);
    visibility: hidden;
    right: 0px;
    bottom: 28px;
    cursor: pointer;
}

/* .insta-glyph-mini:nth-child(1){
    right: 25px;
    bottom: 175px;
}

.insta-glyph-mini:nth-child(2){
    right: 25px;
    bottom: 100px;
} */

a:nth-child(2) > .insta-glyph-mini-hidden, .insta-link-hidden:nth-child(1){
    transform: translate(0, -148px); /* mezera 26px bez rámečku */
    visibility: visible;
    /* transition: all 0.4s cubic-bezier(0.08, 1.05, 0.1, 1.05); */
    /* transition: all 0.4s cubic-bezier(1, 0, 0.6, 0.2); */
    transition: all 0.4s cubic-bezier(0.1, 0.9, 0.1, 0.9);
}

a:nth-child(4) > .insta-glyph-mini-hidden, .insta-link-hidden:nth-child(3){
    transform: translate(0, -78px);
    visibility: visible;
    /* transition: all 0.4s cubic-bezier(0.08, 1.05, 0.1, 1.05); */
    /* transition: all 0.4s cubic-bezier(1, 0, 0.6, 0.2); */
    transition: all 0.4s cubic-bezier(0.1, 0.9, 0.1, 0.9);
}

.insta-link {
    visibility: hidden;
    position: fixed;
    /* right: -70px; */
    right: -140px;
    /* bottom: 35px; */
    bottom: 114px;
    color: rgb(255, 255, 255);
    z-index: 2;
    background-color: rgba(116, 116, 116, 0.3);
    padding: 2px 4px 2px 4px;
    /* transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55); */
    transition: all 0.4s cubic-bezier(0.1, 0.9, 0.1, 0.9);
}

.insta-link:nth-child(1){
    bottom: 184px;
}

.insta-link-hidden:nth-child(1){
    /* transform: translate(-130px, -148px); */
    transform: translate(-200px, 0);
    /* transition: all 0.4s cubic-bezier(0.88, 0.06, 0.15, 1.45); */
    /* transition: all 0.4s cubic-bezier(0.9, 0, 0.9, 0); */
    transition: transform 0.4s cubic-bezier(0.9, 0.1, 0.7, 0.1), color 0.4s ease 0s;

}

.insta-link-hidden:nth-child(3){
    transform: translate(-200px, 0);
    /* transition: all 0.4s cubic-bezier(0.88, 0.06, 0.15, 1.45); */
    /* transition: all 0.4s cubic-bezier(0.9, 0, 0.9, 0); */
    transition: transform 0.4s cubic-bezier(0.9, 0.1, 0.7, 0.1), color 0.4s ease 0s;
}